<div id="select-folder" class="container" *ngIf="!currentImageSrc">
  <ng-container *ngIf="!imagesAreLoading">

    <div class="container-speed-slideshow">
      <input id="speed-slideshow" class="input-speed-slideshow" type="number" [(ngModel)]="speedSlideShow">
      <label for="speed-slideshow" class="label-speed-slideshow">{{'PAGES.HOME.LABEL_SPEED_SLIDESHOW' | translate}}</label>
      <span class="bar"></span>
    </div>


    <label id="label-file-upload" for="file-upload" class="label-file-upload">
      {{'PAGES.HOME.LABEL_UPLOAD_FILE' | translate}}
    </label>
    <input id="file-upload" type="file" (change)="selectFolder($event)"/>
  </ng-container>

  <div id="image-loading" *ngIf="imagesAreLoading" class="loader"></div>
</div>

<div id="image-fullscreen" *ngIf="currentImageSrc">
  <img class="image" [alt]="'PAGES.HOME.IMAGE_CURRENT_ALT' | translate" [src]="currentImageSrc"/>
</div>
